 .title-1{
    font-weight: 600;
    line-height: 1.211rem;
    font-size: 1rem;
 }

 .title-2{
    font-weight: 600;
    line-height: 1.211rem;
    font-size: 0.875rem;
 }

/* .title-3{
    font-weight: 600;
    line-height: 1.211rem;
    font-size: 0.875rem;
} */

 .small{
    font-weight: 500;
    line-height: 0.908rem;
    font-size: 0.75rem;
 }

 .text-color-1{
    color: var( --text-color-1);
 }

 .text-color-2{
    color: var(--text-color-2);
 }
